# Configuration files
config/config.php
config/google-indexing-key.json

# Database and temporary scripts
database/migrations/*.sql
update_db*.php
test*.php
create_symlink.php
gitpull.php

# Uploads and Media
/uploads
/shared_uploads
/uploads_old_backup

# Cache
/cache/*
!/cache/.gitkeep
/assets/css/output.css

# System files
.DS_Store
Thumbs.db
error.log